---
import '../../styles/header.css';
---
<section class="section header header-bg">
    <span class="section__overlay"></span>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-11 col-md-9 col-lg-5 section__content">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <img class="section__content__logo" src="images/assets/logo.svg" alt="">
                <div class="section__content__name-container">
                    <h1 class="display-5">Ever Ospino</h1>
                </div>
                <p>Desarrollador Web</p>
            </div>
        </div>
    </div>
</section>