---
import '../../styles/header.css';
const {info} = Astro.props;
---
<section class="section header header-bg">
    <span class="section__overlay"></span>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-11 col-md-9 col-lg-5 section__content">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <img class="section__content__logo" src="images/assets/logo.svg" alt="" />
                <div class="section__content__name-container">
                    <h1 class="display-5">{info.title}</h1>
                </div>
                <p>{info.rol}</p>
                <a class="section__content__github" title="Visita mi github" href={info.github}>
                    <img src="/images/tecnologies/github_icon.svg" alt="github icon" />
                    Github
                </a>
            </div>
        </div>
    </div>
</section>