---
const { title } = Astro.props;
import '../styles/bootstrap-grid.css';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ever Ospino - {title}</title>
    <link rel="icon" type="image/svg+xml" href="../favicon.svg" />
    <meta name="generator" content={Astro.generator} />
</head>
<body>
    <main class="main-bg">
        <slot />
    </main>
</body>
</html>